.container{
    position: relative;
    width: 500px;
    height:500px;
    background-color: cornflowerblue;
}
    .i2{
        position: relative;
        bottom: 30.64%;
        left: 50%;
    }
    .i3{
        position: relative;
        bottom: 31.5%;
    
    }
    .i4{
        position: relative;
        bottom: 102.2%;
        left: 40%;
    }
    .i5{
        position: relative;
        bottom: 103.08% ;
        left: 40%;
    }
    